# PhysioNet Data
Data source [link](https://physionet.org/content/snomed-ct-entity-challenge/1.0.0/)

In [1]:
import os
import pandas as pd

In [3]:
FOLDER = '../data/benchmark_data'
df = pd.read_csv(os.path.join(FOLDER, 'mimic-iv_notes_training_set.csv'))

In [4]:
df.head()

          note_id                                               text
0   10060142-DS-9   \nName:  ___                  Unit No:   ___\...
1   10097089-DS-8   \nName:  ___                  Unit No:   ___\...
2   10124346-DS-4   \nName:  ___              Unit No:   ___\n \n...
3   10302979-DS-5   \nName:  ___                 Unit No:   ___\n...
4  10352433-DS-20   \nName:  ___                  Unit No:   ___\...

In [6]:
df.shape

(204, 2)